.cabinet-nav {
    margin-bottom: 16px;
}
.cabinet-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cabinet-nav li{
    margin-bottom: 10px;
}
.cabinet-nav li:not(:last-child) {
    margin-right: 45px;
}
.cabinet-nav li a {
    font-size: 17px;
    line-height: 21px; 
    color: rgba(0, 0, 0, 0.5);    
}
.cabinet-nav li a:hover {
    color: rgba(0, 0, 0, 1);   
}
.cabinet-nav .active {
    color: rgba(0, 0, 0, 1);   
    font-weight: 500;
}
.profile-block {
    padding: 32px 24px; 
    background: #FFFFFF;   
    max-width: 350px;
    margin: 0 auto 72px;
}

.pb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.pb-item:first-child .pb-header{
    margin-bottom: 24px;
} 
.pb-item .input-wrap.type-2.value{
    background: #F8F8F6;
}
.pb-header .link.type-2{
    font-weight: 400;
}
.pb-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    line-height: 100%; 
    color: #000000;   
    padding-bottom: 6px;
    margin-top: -6px;
}
.pb-bottom p{
    margin-bottom: 10px;
}
.pb-bottom p:not(:last-child) {
    margin-right: 24px;
}
.pb-bottom b {
    font-weight: 500;
}
.profile-block .btn{
    width: 100%;
    color: #876B46;
}
.btn.logout:before{
    background: url(../img/logout.svg) center no-repeat;
}
.profile-block .logout{
    flex-direction: row-reverse;
}
.profile-block .logout:before{
    margin: 0 0 0 15px;
}

@media ( max-width:575px ){
    .cabinet-nav li:not(:last-child) {
        margin-right: 25px;
    }    
    .profile-block{
        max-width: calc(100% + 20px);
        margin: 0 -10px 35px;
    }    
}


/*order*/

.order-empty{
    max-width: 425px;
    padding: 80px 105px; 
    background: #FFFFFF;    
    margin:35px auto 110px;
}
.order-empty img{
    margin-bottom: 10px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.order-empty .text-15{
    margin-bottom: 24px;
}


.orders-wrapper{
    width: calc(100% - 300px);
    padding-right: 7px;
    margin-bottom: 72px;
}
.orders-body{
    transition: all 0.45s;
    min-height: 200px;
}
.order--tr{
    display: flex; 
    flex-wrap: wrap;
    padding: 4px 0;
} 
.order-wrap{
    background: #fff;
    margin-bottom: 4px;
}
.orders-header{
    align-items: flex-end;
}
.orders-header .order--td{
    font-size: 13px;
    line-height: 100%; 
    color: #000000;
    font-weight: 500;
    padding-bottom: 16px;
}
.order--td.td-1{
    width: 100px;
    font-size: 13px;
    line-height: 100%; 
    color: #000000;    
    padding-right: 10px;
}
.order--td.td-2{
    width: calc(48% - 100px);
}
.order--td.td-3{
    width: 60px;
    text-align: center;
    justify-content: center;    
}
.order--td.td-4{
    width: 130px;
    text-align: center;
    justify-content: center;
}
.order--td.td-5{
    width: calc(26% - 95px);
}
.order--td.td-6{
    width: calc(26% - 95px);
}

.orders-body .td-1{
    font-size: 13px;
    line-height: 100%; 
    color: #000000;  
    font-weight: 500;
    text-align: center;
    justify-content: center;
} 
.orders-body .td-3{
    justify-content: center;
    font-size: 13px;
    line-height: 100%; 
    color: #000000;   
    font-weight: 500;
}
.orders-body .td-4{
    font-size: 13px;
    line-height: 100%; 
    color: #000000;    
} 
.orders-body .td-6{
    font-weight: 500;
    font-size: 13px;
    line-height: 100%; 
    color: #000000; 
    padding-right: 35px;
    position: relative;
    z-index: 2;
}
.orders-body .td-6 span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.orders-body .order--td{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.order-prod{
    display: flex;
    align-items: center;
    width: 100%;
}
.order-prod .image{
    width: 56px;
    height: 56px;
    overflow: hidden;
    position: relative;
    min-width: 56px;
}
.order-prod .image img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    max-width: calc(100% - 12px);
    max-height: calc(100% - 12px);
    width: auto;
}
.order-prod-text{
    width: calc(100% - 56px);
    padding-left: 20px;
    padding-right: 60px;
    position: relative;
}
.order-prod-text .article{
    margin-top: 3px;
}
.order-prod-text .size,
.order-prod-text .article{
    font-size: 9px;
    line-height: 100%; 
    color: #000000;    
    margin-bottom: 1px;
}
.order-prod-title{
    font-size: 10px;
    line-height: 100%; 
    color: #000000;
    display: block;
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-prod-text .price{
    font-size: 15px;
    line-height: 150%; 
    display: inline; 
    color: #000000;
    margin-right: 1px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}
.order-prod-text .old-price{
    font-size: 15px;
    line-height: 150%; 
    display: inline; 
    text-decoration-line: line-through; 
    color: #626262;
}

.order--tr.tr-hide .td-2{
    background: #F8F8F6;
}

.order--tr.tr-hide .td-3{
    background: #FFFFFF; 
    border: 1px solid #F8F8F6;    
}

.order--tr {
    position: relative;
}
 
.status {
    font-size: 13px;
    line-height: 100%; 
    color: #000000;  
    padding-left: 24px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.status:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px; 
    border-radius: 50%;
}
.status.in-progress:after{
    background: #2F80ED;    
} 
.status.done:after{
    background: #219653;   
} 
.order--tr .arrow-drop{
    position: absolute;
    width: 35px;
    height: 35px;
    background: url(../img/arrow-down.svg) center no-repeat;
    background-size: 14px auto;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.35s;
    cursor: pointer;
    z-index: 1;
}
 
 
.order-wrap.active .arrow-drop{
    transform: translateY(-50%) rotate(180deg);
}

.orders-body{
    position: relative;
}
.order-wrap .order-detail {
    position: absolute;
    top: 0;
    left: calc(100% + 7px);
    background: #FFFFFF;
    padding: 24px 20px;
    width: 300px;
    display: none;
}
.order-wrap .order-detail .title {
    margin-bottom: 34px;
}
.order-detail .od-item-title {
    font-size: 13px;
    line-height: 100%; 
    color: #000000;
    margin-bottom: 4px;
}
 
.order-detail .od-coupon {
    margin: 4px 0 16px;
    color: #876B46;
    word-break: break-all;
}
.od-discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.od-discount li {
    font-size: 13px;
    line-height: 100%; 
    color: #000000;   
    max-width: 46%;
}
.od-discount .text-15 {
    margin-top: 4px;
}
.od-item:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(98, 98, 98, 0.2);
}
.od-delivery {
    padding: 12px 0 0;
}
.od-delivery li {
    font-size: 13px;
    line-height: 100%; 
    color: #626262;    
    display: flex;
    align-items: baseline;
}
.od-delivery b {
    color: #000000;
    padding-right: 10px
}
.od-delivery li:not(:last-child){
    margin-bottom: 20px;
} 
.od-time{
    font-size: 15px;
    line-height: 150%; 
    color: #626262;  
    padding-top: 8px;
}
.od-time span{
    margin-right: 10px;
}
.od-pay {
    font-size: 13px;
    line-height: 100%; 
    display: flex;
    align-items: center;
    color: #000000;
    padding-top: 12px;
    font-weight: 500;
}
.od-pay img {
    max-width: 24px;
    min-width: 24px;
    margin-right: 16px;
}
.order-wrap{
    border: 1px solid transparent; 
    
}
.order-wrap.active{
    border-color: #DCCEBB;
}
.order-detail .status{
    margin-top: 12px;
}

.order--tr.tr-hide{
    display: none;
}
.order-wrap.active .tr-hide{
    display: flex;
}


@media ( max-width:991px ){
    .orders-wrapper{
        width: 100%;
        padding-right: 0;
    }
    .order-wrap .order-detail {
        position: relative; 
        left: 0; 
        width: 100%; 
    }    
    
}
@media ( max-width:720px ){   
    .orders-wrapper{
        margin: 0 -15px 60px;
        width: calc(100% + 30px);
    }
    .order-wrap{
        border: 0;
    }
    .orders-header{
        display: none;
    }    
    .order--tr{
        padding: 16px 16px 84px;
    }
    .order--td.td-2{
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 0px;
        width: calc(100% - 32px);
        min-height: 72px;
    }
    .order--tr:not(.tr-hide) .order--td.td-2{
        bottom: 0px; 
        z-index: 3;
        padding-left: 20px;
        border-bottom: 1px solid  rgba(224, 224, 224, 0.5);
    }
    .order-prod .image img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
    }
    .order-prod .image{
        width: 56px;
        height: 56px;
    }
    .order-prod .image:not(:first-child){
        margin-left: 10px;
    }
    .orders-body .td-1{
        justify-content: flex-start;
        width: 60px;
    }
    .orders-body .order--td:before{
        content: attr(data-td);
        display: block;
        text-align: left;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 100%; 
        color: #000000;    
        width: 100%;
        font-weight: 500;
        position: relative;
    }
    .order--tr.tr-hide .td-3,
    .orders-body .td-6{
        display: none;
    }
    .orders-body .td-3{
        width: 80px;
        padding-right: 15px;
        justify-content: flex-start; 
        padding-left: 20px;
    }
    .orders-body .td-3:before{
        left: -20px;
    }
    .order-prod .count{
        display: inline;
        font-size: 15px;
        line-height: 150%; 
        color: #000000;
        margin-left: 20px;
    }
    .order-prod-text {
        width: calc(100% - 56px);
        padding-left: 12px;
    }
    .orders-body .td-4{
        justify-content: flex-start;
    }
    .order--td.td-4 ,
    .order--td.td-5 {
        width: calc(50% - 70px);
    }    
    .order--tr.tr-hide .td-2{
        position: relative;
        left: auto;
        right: auto;
        width: 100%; 
        margin-top: 10px;
        min-height: inherit;
        padding: 10px 12px;
    }
/*
    .order--tr.tr-hide .td-2:after{
        position: absolute;
        left: 0;
        right: 0;
        top: -5px;
        height: 1px;
        background: #E0E0E0;
        opacity: 0.5;       
        content: "";
    }
*/
    .order--tr .td-2:before{
        content: none;
    }
    .order--tr.tr-hide{
        padding:0 10px;
    }
    .order--tr.tr-hide .td-1,
    .order--tr.tr-hide .td-3,
    .order--tr.tr-hide .td-4,
    .order--tr.tr-hide .td-5,
    .order--tr.tr-hide .td-6{
        display: none
    }
    .order--tr .arrow-drop:not(.mobile-arrow) { 
        top: auto;
        transform: rotate(0deg);
        right: 10px;
        bottom: 16px;
        opacity: 0;
    }   
    .order--tr .arrow-drop.active {
        transform: rotate(180deg); 
    }    
    .arrow-drop.mobile-arrow{
        display: block;
        height: 35px;position: relative;
    }
    .arrow-drop.mobile-arrow:after{
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background: url(../img/arrow-down.svg) center no-repeat;
        background-size: 14px auto;
        right: 0;
        left: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: all 0.35s;
        cursor: pointer;
        z-index: 1;        
    }
}
@media ( max-width:575px ){
    .order-empty { 
        padding: 80px 90px; 
        margin: 0px -10px 110px;
    }
    .order-wrap .order-detail { 
        max-width: 290px;
        margin: auto;
        padding: 10px 0;
    }     
    .orders-body .td-4{
        text-align: left;
    }
    .orders-body .td-4{
        line-height: 1.25; 
    }
    .orders-body .td-3{
        width: 60px;
        padding-right: 6px;
        padding-left: 10px;
    }
    .orders-body .td-3:before {
        left: -10px;
    }    
    .orders-body .order--td{
        align-items: flex-start;
    }
    .order--td.td-4, .order--td.td-5 {
        width: calc(50% - 60px);
    }  
    .status{
        padding-right: 0;
    }
    .orders-body .td-4{
        padding-right: 10px;
    }
}
@media ( max-width:360px ){
    .cabinet-nav li:not(:last-child) {
        margin-right: 25px;
    }  
    .cabinet-nav li a{
        font-size: 13px;
    }
    .order-prod .count{
        display: table;
        margin-left: 0;
    }
    .order--td.td-2{
        align-items: center;
    }
    .order-prod .image{
        min-width: 50px;
    }
    .order--tr .arrow-drop{
        right: 5px;
    }
    .order-prod-text {
        width: calc(100% - 50px);
        padding-left: 10px;
        padding-right: 15px;
    }    
    .order-prod .count,
    .order-prod-text .old-price,
    .order-prod-text .price{
        font-size: 14px;
    }
    .order-prod-title{
        margin-bottom: 5px;
    }
    .order--td.td-2{
        min-height: 80px;
    }
    .order--tr {
        padding: 14px 14px 90px;
    }   
    .order-wrap.active .arrow-drop {
        transform:  rotate(180deg);
    }  
    .order-detail { 
        padding: 10px;
    }    
}