
.inner-page .breadcrumbs {
    padding: 30px 0 60px;
} 

.guarante-block {
    max-width: 630px;
    margin: auto;
}
.guarante-row {
    padding-bottom: 80px;
}

.guarante-title {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
} 
.guarante-title .icon {
    width: 48px;
    margin-right: 16px;
}
.guarante-block .text{
    font-size: 17px;
    line-height: 1.42;
    color: #000000;    
}
.guarante-block .text:not(:last-child){
    margin-bottom: 32px;
}
.text b{
    font-weight: 500;
}

.guarante-contant,
.guarante-season {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 16px;
}
.guarante-contant .item ,
.guarante-season .item {
    padding: 24px 20px; 
    background: #F1EBE4;  
    margin-bottom: 16px;
    width: calc(33.33% - 8px);
}
.guarante-season .title {
    margin-bottom: 12px;
}
 

.guarante-contant .icon {
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
}
.guarante-contant .block-title {
    margin-bottom: 16px;
}
 
.guarante-contant li {
    font-size: 15px;
    line-height: 150%; 
    color: #000000;  
    word-wrap: break-word;
}
.guarante-contant li:not(:last-child){
    margin-bottom: 8px;
}

 
.ng-list li {
    padding: 8px 0 8px 56px;
    position: relative;
    font-size: 15px;
    line-height: 150%;
    color: #000000;    
}
.ng-list li:not(:last-child) {
    border-bottom: 1px solid #F1EBE4;
}
.ng-list li:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 24px;
    top: 16px; 
    background: #876B46;    
    border-radius: 50%;
}

@media ( max-width:767px ){
    .inner-page .container{
        padding: 0 20px;
    }   
    .guarante-contant .item, .guarante-season .item{
        width: 100%; 
        position: relative;
    }
    .guarante-contant .block-title{
        margin-bottom: 12px;
    }
    .guarante-contant .item{
        padding-left: 84px;
    }
    .guarante-contant .icon{
        width: 48px;
        height: 48px;
        position: absolute;
        top: 24px;
        left: 20px;
    }
    .guarante-row{
        padding-bottom: 45px;
    }
    .guarante-title{
        line-height: 1.1;
    }
    .guarante-block{
        padding-bottom: 15px;
    }
    .inner-page .breadcrumbs {
        padding: 25px 0 30px;
    }
    .inner-page .breadcrumbs li{
        margin-bottom: 10px
    }
}

/*REVIEW PAGE*/
.review-page{
    padding-bottom: 56px;
}
.inner-page .page-title{
    margin-bottom: 40px;
}
.reviews-block {
    display: flex;
    flex-wrap: wrap;
}
.review-item {
    background: #FFFFFF;
    width: calc(25% - 26.25px);
    margin-bottom: 35px;
}
 
 
.review-item .image {
    display: block;
    position: relative;
    overflow: hidden;
}
.review-item .image:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.review-item .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    transition: all 0.35s;
}
.review-item .review-content {
    padding: 24px 16px;
}
.review-item .review-title {
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
}
.review-item .date {
    font-size: 13px;
    line-height: 12px;
    color: #876B46;   
    margin-bottom: 15px;
}
.review-item p {
    font-size: 13px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8); 
    -webkit-line-clamp: 4; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;    
}
 
.review-page .btn{
    width: 100%;
    max-width: 344px;
}

@media ( min-width:992px ){
    .review-item:not(:nth-child(4n)){
        margin-right: 35px;
    }
    .review-item .image:hover img{
        transform: translate(-50%,-50%) scale(1.08);
    } 
    .review-title:hover{
        color: #876B46;
    } 
}
@media ( max-width:992px ){
    .review-item:not(:nth-child(4n)){
        margin-right: 15px;
    }    
    .review-item {
        background: #FFFFFF;
        width: calc(25% - 11.25px);
        margin-bottom: 15px;
    }
}
@media ( max-width:767px ){
    .review-item:not(:nth-child(4n)){
        margin-right: 0;
    }    
    .review-item {
        background: #FFFFFF;
        width: calc(50% - 6px);
        margin-bottom: 12px;
    }
    .reviews-block{
        justify-content: space-between;
    }
    .inner-page .page-title{
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: 400;
    }
}


/*PAYMENT AND DELIVERY*/
.pd-page{
    padding-bottom: 100px;
}
.payment-row {
    text-align: center;
    padding-bottom: 45px;
}
.payment-row .page-title {
    margin-bottom: 24px;
}
.payment-row .description {
    max-width: 620px;
    margin: 0 auto 54px;
    font-size: 24px;
    line-height: 32px;
    color: #000000;    
}


.payment-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.payment-list .item {
    width: calc(25% - 9px);
    padding: 24px 20px; 
    background: #F1EBE4;    
    margin-bottom: 15px;
    text-align: left;
}
.payment-list .icon {
    height: 48px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
} 
.payment-list img {
    max-height: 100%;
    width: auto;
}
.payment-list img:not(:last-child) {
    margin-right: 25px;
}
.payment-list p {
    font-size: 17px;
    line-height: 21px; 
    color: #000000;    
} 
.payment-list .h2 {
    margin-bottom: 8px;
} 


.delivery-row {
    padding-top: 45px;
    border-top: 1px solid #C4C4C4;
}
.delivery-header {
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}
.delivery-header .icon {
    width: 48px;
    height: 48px;
    margin-right: 36px;
} 

.delivery-list { 
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.delivery-list p {
    width: calc(25% - 26.25px);
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 24px;
    color: #000000;    
}
.delivery-list b {
    font-weight: 500;
}

 
.delivery-row .text {
    max-width: 744px;
}
.delivery-row .h2 {
    line-height: 1.5;
    margin-bottom: 30px;
}
.delivery-row .warning {
    font-size: 15px;
    line-height: 24px; 
    color: #876B46;
    margin-bottom: 50px;
    max-width: 524px;
}

@media ( min-width:992px ){
    .delivery-list p:not(:nth-child(4n)){
        margin-right: 35px;
    }
}
@media ( max-width:1400px ){
    .payment-row .page-title{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .payment-row .description{
        font-size: 18px;
        margin-bottom: 40px;
        line-height: 1.4;
    }
    .delivery-header{
        font-size: 24px;
    }
    .delivery-row .h2{
        font-size: 18px;
    }
}
@media ( max-width:991px ){
    .payment-list .item{
        width: 100%;
    }
    .payment-list .icon {
        height: 34px;
        margin-bottom: 12px; 
    }  
    .delivery-list p{
        width: 100%;
        margin-bottom: 15px;
    }
    .delivery-row{
        padding-top: 30px;
        padding-bottom: 25px;
    }
    .delivery-row .warning,
    .delivery-header{
        margin-bottom: 35px;
    }
    .pd-page{
        padding-bottom: 40px;
    }
    .delivery-header .icon{
        width: 48px;
        min-width: 48px;
        margin-right: 30px;
    }
}

/*BLOG PAGE*/
.blog-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}
.col-8 ,
.col-4 {
    padding: 0 18px;
    width: 33.33%;
}
.col-8{
    width: 66.66%;
}

.blog-item {
    margin-bottom: 40px;
    padding-bottom: 24px;
    transition: all 0.35s;
}
.blog-item .image {
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    margin-bottom: 30px;
}
.blog-item .image:before {
    padding-top: 77%;
    display: block;
    content: "";
}
.col-8 .blog-item .image:before {
    padding-top: 47%;
}
.blog-item .date {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 14px;
    line-height: 150%; 
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;    
    padding: 8px 22px;
    background: #fff;
    position: absolute;
}
.blog-item .bi-title {
    font-size: 24px;
    line-height: 1; 
    color: #000000;   
    display: inline-block;
    margin-bottom: 14px;
}

.blog-row + .list-show-options{
    margin-top: -10px;
}

@media ( min-width:1200px ){
    .blog-item .bi-title:hover{
        color: #876B46;
    }
    .blog-item:hover{
        transform: translateY(-10px);
    }
}
@media ( max-width:767px ){
    .col-8, .col-4{
        width: 100%;
        padding: 0 8px;
    }    
    .blog-item{
        margin-bottom: 20px;
    }
    .col-8 .blog-item .image:before{
        padding-top: 77%;
    }
}


/*FAVORITES*/
 
.favorites .breadcrumbs {
    padding: 28px 0;
} 
.favorites .title-page {
    padding: 16px 0;
    margin-bottom: 22px;
} 
.favorites-empty {
    max-width: 410px;
    margin: 0 auto 100px;
    text-align: center;
} 
.favorites-empty .image {
    margin-bottom: 40px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.favorites-empty .fe-text {
    margin-bottom: 40px;
}
.btn.go-to-shop:before {
    background: url(../img/arrow-left.svg) center no-repeat;
} 

.popover{
    background: #FFFFFF;
    border: 1px solid rgba(220, 206, 187, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);  
    position: absolute;
    top: 0;
    right: 0;
}
.favorite-popover {
    display: none;
}
.favorite-popover.popover{
    top: 24px;
    right: -30px;
    padding: 24px 24px 32px;
    z-index: 11;
}
.favorite-popover p {
    font-size: 15px;
    line-height: 150%; 
    color: #000000; 
    font-weight: 500;
    margin-bottom: 25px;
    white-space: nowrap;
}
.favorite-popover .delete-option {
    display: flex;
    align-items: center;
}
.favorite-popover li {
    width: 50%;
    text-align: center;
}
 
.fv-list.product-list {
    padding-top: 0;
}
.fv-list.product-list .product:nth-child(n + 5) {
    margin-top: 35px;
} 
 
.fv-list .add-favorite {
    opacity: 1;
    visibility: visible;
    top: 24px;
}
 
.fv-list .product-info {
    padding-bottom: 10px;
}
 
 
@media ( max-width:767px ){
    .favorites .breadcrumbs{
        padding: 16px 0;
    }
    .favorites-empty .image,
    .favorites-empty .fe-text{
        margin-bottom: 24px;
    }
    .favorites-empty{
        margin-bottom: 40px;
    }
}
@media ( max-width:575px ){
    .favorites-empty .btn{
        width: 100%;
    }
    .favorites .container{
        padding: 0 24px;
    }
    .fv-list.product-list{
        margin: 0 -14px;
    }
    .fv-list.product-list + .list-show-options{
        margin-left: -14px!important;
        margin-right: -14px!important;
    }
}


/*CONTACTS*/ 
.simple-page .breadcrumbs {
    padding: 50px 0;
} 
.simple-page .title-page {
    margin-bottom: 60px;
}
 

.contact-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.contact-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #F8F8F6;
    width: calc(50% - 18px);
    margin-bottom: 35px;
}
.contact-item.w100{
    width: 100%;
} 
.contact-item .map-wrap {
    width: 100%;
    position: relative;
    height: 312px;
    font-size: 0;
}
.contact-item iframe {
    width: 100%;
    height: 100%;
}
.contact-item .info {
    padding: 50px 25px 25px;
    width: 53%;
}
.contact-item.w100 .info{
    width: 65%;
}
.contact-item .block-title {
    margin-bottom: 2px;
}
.contact-item .work-time {
    font-size: 15px;
    line-height: 150%; 
    color: #000000;    
    padding: 0;
    margin: 0 0 20px;
}
.contact-item .location {
    font-size: 17px;
    line-height: 21px; 
    color: #000000; 
    max-width: 290px;
}
.contact-item .image {
    background-size: cover;
    background-position: center;
    width: 47%;
}
.contact-item.w100 .image{
    width: 35%;
}
.contact-item .image:before {
    min-height: 205px;
}