.sign.page{
    max-width: 1085px;
    padding: 0 20px 56px;
    margin: auto;
    
}

.sign-header {
    text-align: center;
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.sign-header .logo {
    max-width: 200px;
    font-size: 0;
} 
.sign-page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px);
}

.sign-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sign-row .sign-image {
    font-size: 0;
} 
.sign-col{
    width: 50%;
}
.sign-content{
    padding: 72px 109px 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;    
}
.sign-content.recover{
    padding-top: 25px;
    padding-bottom: 25px;
}
.sign-content.recover .title{
    text-align: center;
    margin-bottom: 40px;
}


.sign-content .logo{
    max-width: 200px;
    margin: auto;
    margin-bottom: 40px;
}
.sign-content .title{
    margin-bottom: 20px;
    width: 100%;
}

.sign-social {
    margin-bottom: 40px;
    width: 100%;
}
.sign-social .subtitle {
    margin-bottom: 12px;
} 
.sign-social .btn {
    width: 100%;
    color: #000;
}
.btn.btn-fb{
    background: #3B5998;
    border-color: #3B5998;
    color: #fff;
}
.btn.btn-fb:before{
    background: url(../img/sign/facebook.svg) center no-repeat;
    height: 25px;
    width: 25px;
}


.btn.btn-google{ 
    border-color: rgba(98, 98, 98, 0.24); 
}
.btn.btn-google:before{
    background: url(../img/sign/google.svg) center no-repeat;
    height: 25px;
    width: 25px;
}

.sign-form{
    width: 100%;
}
.sign-form .text-info {
    margin-top: 8px;
}
.sign-form .subtitle {
    margin-bottom: 16px;
} 
.sign-form form .btn {
    margin: 24px 0;
    width: 100%;
}
.sign-form-info {
    display: flex;
    align-items: center;
} 
.sign-form-info .link{
    margin: auto;
}
.sign-form .input-wrap{
    margin-bottom: 0!important;
}
.sign-form .input-wrap:not(:first-child){
    margin-top: 16px;
}


.sign-content.recover-info {
    text-align: center;
    justify-content: center;
    padding: 25px 80px;
} 
.recover-info .title {
    margin-bottom: 24px;
}
.recover-info .send-email {
    display: block;
    color: #876B46;
} 

@media ( max-width:1500px ){
    .sign-header { 
        height: 100px; 
    }  
    .sign-page-content{ 
        min-height: calc(100vh - 100px);
    }    
}
@media ( max-width:1200px ){
    .sign-content {
        padding: 62px 50px 70px;
    }
}
@media ( max-width:991px ){
    .sign-row .sign-image{display: none;}
    .sign-row .sign-content{
        background-color: transparent;
        padding: 28px 15px 24px;
        max-width: 330px;
        margin: auto;
        width: 100%;
    }
    .sign-row .sign-content.recover-info{
        max-width: 390px;
    }
    .sign.page{
        padding: 0;
    }
    .sign-header{
        height: 76px;
        background: #fff;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-page-content{ 
        min-height: calc(100vh - 76px);
    }      
    .sign-header .link-back{
        left: 16px;
    }
    .sign-social .btn{
        padding: 0 10px;
    }
}