 /* CUSTOM PRELOAD */
#loader{position:fixed;left:0;top:0;width:100%;height:100%;z-index:999;background-color:#fff;-webkit-animation:loader 1s linear;animation:loader 1s linear;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
@-webkit-keyframes loader{0%{opacity:1;}70%{opacity:1;}99%{opacity:0;}100%{display:none;visibility:hidden;z-index:-10;opacity:0;}}
@keyframes loader{0%{opacity:1;}70%{opacity:1;}99%{opacity:0;}100%{display:none;visibility:hidden;z-index:-10;opacity:0;}}

 
/* RESET STYLES */
*{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust:none;box-sizing:border-box;}
.clear{clear:both; overflow:hidden; height:0px; font-size:0px; display: block;}
html:not(.touch-screen)::-webkit-scrollbar,html:not(.touch-screen) *::-webkit-scrollbar{width:3px;height:6px;}
html:not(.touch-screen)::-webkit-scrollbar-track,html:not(.touch-screen) *::-webkit-scrollbar-track{background:#e1e1e1;}
html:not(.touch-screen)::-webkit-scrollbar-thumb,html:not(.touch-screen) *::-webkit-scrollbar-thumb{background:#A28054;}
:focus, :active, :visited{outline: none;}

/* GLOBAL SETTINGS */
html{height: 100%;overflow-x: hidden;}
body{height: 100%; overflow: hidden;}
body.bg-black{background:#1B1B1B;}
#content-block{overflow: hidden; position: relative;}
html:not(.ie) #content-block{min-height:100vh;}
.overflow-hidden{overflow: hidden;}
html.overflow-hidden body{overflow: hidden;}
.swiper-slide:not(:first-child){display: none;}
.swiper-buttons .swiper-button-prev,.swiper-buttons .swiper-button-next{position: absolute;left: auto;right: 89px;bottom: 29px;top:auto;width: 86px;height: 96px;background-color: #FF0303;margin: 0;display: flex;align-items: center;justify-content: center;}
.swiper-buttons .swiper-button-prev img,.swiper-buttons .swiper-button-next img{width: auto;}
.swiper-buttons .swiper-button-next img{transform: scale(-1);}
.swiper-buttons .swiper-button-prev.swiper-button-disabled,.swiper-buttons .swiper-button-next.swiper-button-disabled{opacity: .4;background-color: #ccc;}
 
 .alert{
    background: #DCCEBB;
    padding: 8px 45px 8px 12px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 14;
}
.alert.active{
    opacity: 1;
    visibility: visible;
    top: 0;
} 
.product-alert b {
    font-size: 13px;
    line-height: 100%; 
    color: #000000;   
    font-weight: 500;
    padding-right: 10px;
}
.product-alert .link {
    font-size: 13px;
    font-weight: 500;
}
.alert .alert-close {
    position: absolute;
    right: 15px;
    top: 9px;
    font-size: 0;
    cursor: pointer;
} 
.main-alert{
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    text-align: center;
    transition: initial;
    transition: all 0.3s;
}
.site-header.scrolled .main-alert{
    height: 0;
    overflow: hidden;
    padding: 0px;
}
 
.main-alert b{
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;    
    margin-right: 24px;
    font-weight: 500;
}

.container{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    max-width: 1200px;
}

/*spacers*/
.spacer{clear:both;}
.spacer-120{height: 120px;}
.spacer-100{height: 100px;}
.spacer-80{height: 80px;}
.spacer-75{height: 75px;}
.spacer-60{height: 60px;}
 
/*media*/

@media ( max-width:1450px ){
    .container{
        max-width: 1050px;
    }
}
@media ( max-width:1200px ){
    .spacer-120{height: 80px;}    
}
@media ( max-width:767px ){
    .spacer-75,
    .spacer-80,
    .spacer-120{height: 40px;}   
    .container{
        padding: 0 8px;
    }
    .spacer-60{height: 50px;}   
    .hidden-xs{
        display: none!important;
    }
    .main-alert b{
        font-size: 12px;
        font-weight: 500;
        margin-right: 18px;
    }
}
 
/* TYPOGRAPHY */
body{font-family: 'Gotham Pro';color:#000;}
b, strong{font-weight: 700;}
a{cursor:pointer;text-decoration:none;outline:none;color:inherit;transition:0.3s;-webkit-transition:0.3s;}
a:link, a:visited, a:active, a:hover{cursor:pointer;text-decoration:none;outline:none;}
iframe{border:none;outline:none;}
ul, ol{list-style: none;}
img{width:100%;height:auto;max-width:100%;vertical-align: top;}
 
blockquote{position: relative;color:#212121;font-size:22px;line-height:1.85em;font-weight:700;padding-left:30px;text-align: left;border-left:6px solid #00ABED;}


.h1{
    font-size: 32px;
    color: #000000;
    line-height: 1;
}
h2,.h2{
    font-size:24px;
    line-height:1; 
    color: #000000;
} 
.h2.type-2{
    line-height: 1.5;
}
.h3{
    font-size: 17px;
    line-height: 21px;
}
.block-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #000000;    
}
.block-title.type-2{
    font-size: 17px; 
    letter-spacing: 0px;
    line-height: 1.2;
}

.fw-500{
    font-weight: 500;
}
fw-300{
    font-weight: 300;
}
.upper{
    text-transform: uppercase;
}
.small-13{
    font-size: 13px;
    line-height: 100%; 
    color: #000000;    
}
.small-13.type-2{
    font-size: 13px;
    line-height: 16px; 
    letter-spacing: 0.02em;
    color: #000000;    
}
.text-15{
    font-size: 15px;
    line-height: 150%; 
    color: #000000;   
}
 
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.text-row{
    font-size: 15px;
    line-height: 150%; 
    color: #000000;
}

@media(max-width: 767px){
    h2,.h2{ 
        line-height:1.3; 
    }  
}
 
/* BUTTONS */
 
/* HEADER */
.site-header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 201;
    background-color: #fff;
    transition: all 0.35s;
}
.margin-header{height:200px;}
 
.header-top {
    padding: 35px 0;
}
.header-top .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.callback-wrap.phones {
    position: relative;
    padding-right: 20px;
    transition: all 0.3s;
}
 
.callback-wrap > a {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #0E0B06;    
    font-weight: 500;
}
.callback-wrap .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    transition: all 0.3s;
} 
.callback-wrap.active .arrow{
    transform: translateY(-50%) rotate(-180deg);
}

.header-top .logo {
    font-size: 0;
    max-width: 200px;
    transition: all 0.35s;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
} 
.header-top .top-options {
    display: flex;
    align-items: center;
}
.header-top .help {
    margin-right: 54px;
}
 
.help{
    position: relative;
}
.help-link {
    position: relative;
    margin-right: 20px;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em; 
    color: #0E0B06;    
/*    border-bottom: 1px solid #0E0B06;*/
}
.help-link:after {
    content: "";
    background: url(../img/arrow-down.svg) center no-repeat;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    position: absolute;
    right: -20px;
    transition: all 0.35s;
} 
.help.active .help-link:after{
    transform: translateY(-50%) rotate(-180deg);
}
.help-list {
    position: absolute;
    right: 0; 
    top: calc(100% + 20px);
    background: #FFFFFF;
    min-width: 220px;
    border: 1px solid #F8F8F6;
    box-sizing: border-box;
    box-shadow: 0px 12px 12px rgb(90 90 90 / 12%);
    padding: 24px;
    transition: all 0.35s;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
/*    text-align: right;*/
}
.help.active .help-list {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
} 
.help-list li {
    padding: 5px 0;
}
.help-list .link {
    text-decoration: none; 
    border-color: transparent;
    color: #0E0B06;
}
.help-list .link:hover {
    border-color: transparent;
    color: #876B46;
}
.help.type-2 .help-list{
    left: 0;
    right: auto;
    text-align: left;
}

.lang ul {
    display: flex;
    align-items: center;
}
.lang li:not(:last-child){
    margin-right: 20px;
}
.lang a {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: rgba(14, 11, 6, 0.5);

}
.lang .active a{
    color: #0E0B06;    
    font-weight: 500;
}
 
.cart-link{
    position: relative;
    margin-right: 16px;
}
.cart-link .basket-count{
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 15px;
    height: 15px;
    background: #000000;  
    border-radius: 50%;
    font-size: 10px; 
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
/*    padding: 0 2px;*/
}


/*HEADER MIDDLE*/
 
.header-inner .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
}

.header-options-list ul {
    display: flex;
    align-items: center;
}
.header-options-list li:not(:last-child) {
    margin-right: 24px;
} 
.header-options-list svg {
    stroke: #000;
    transition: all 0.3s;
}

.form-search {
    width: 270px;
    margin-right: 16px;
    position: relative;
}
.form-search form {
    display: flex;
    align-items: center;
    position: relative;
}
.form-search input {
    height: 40px;
    border: 1px solid transparent;
    border-bottom-color:  #C4C4C4;
    outline: 0;
    padding: 0 35px 0 48px;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #626262;
    width: 100%;
    transition: all 0.35s;
}
.form-search button {
    outline: 0;
    position: absolute;
    cursor: pointer;
    left: 16px;
    top: 9px;
    height: 24px;
    width: 24px;
    background: url(../img/icon-search.svg) center no-repeat;
}

.form-search.typed input{
    border-color: #DCCEBB; 
}
.form-search .clear-search{
    position: absolute;
    top: 50%;
    right: 11px;
    width: 16px;
    height: 16px;
    background: url(../img/icon-cross.svg) center no-repeat;
    margin-top: -8px;
    background-size: 15px auto;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.form-search.typed .clear-search{
    opacity: 1;
    visibility: visible;
}
.form-search.typed .form-search-list {
    display: block;
}
.form-search-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFFFFF; 
    border: 1px solid #DCCEBB;   
    border-top: 0;
    z-index: 5;
}
.form-search-list ul {
    padding: 5px 0;
} 
.form-search-list a {
    display: block;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #000000;    
    padding: 10px 16px;
}

.header-options{
    display: flex;
    align-items: center;
    position: relative;
}

.header-inner .mobile-button{
    display: none;
}
.menu-nav {
    display: flex;
    align-items: center;
    transition: all 0.35s;
} 
.menu-nav .active a {
    color: #876B46;
    font-weight: 500;
}
.menu-nav li:not(:last-child) {
    margin-right: 48px;
}
.menu-nav li a {
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}
.menu-nav .active a:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 2px;
    background: #876B46;
} 
 
.bottom-navbar {
    border-bottom: 1px solid rgba(192, 168, 134, 0.4);
    padding: 16px 0;
    position: relative;
    background: #F8F8F6;
    transition: all 0.35s;
}
.bottom-navbar .container {
    position: static;
}
.bottom-navbar .nav-menu {
    display: none;
    align-items: center;
    flex-wrap: wrap;
}
.nav-menu .dropdown{
    padding-right: 24px;
    position: relative;
}
.nav-menu .dropdown:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    transition: all 0.3s;
    background: url(../img/arrow-down-nav.svg) center no-repeat;
    width: 16px;
    height: 16px;
}
.nav-menu li:hover .dropdown:after{
    transform: translateY(-50%) rotate(180deg);
}
.nav-menu > li:not(:last-child) {
    margin-right: 32px;
}
.nav-menu > li > a{
    font-size: 13px;
    line-height: 100%; 
    color: #000000;    
}

.bottom-navbar .nav-menu.active{
    display: flex;
} 
.submenu .container{
    display: flex;
    flex-wrap: wrap;
}
 

.submenu {
    padding: 46px 0;
    z-index: 10;
    background: #F8F8F6;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 15px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
} 

.nav-menu > li:hover .submenu{
    opacity: 1;
    visibility: visible;
    top: calc(100% + 1px);
}
.submenu .col {
    max-width: 180px;
    width: 100%;
}
.submenu .col:not(:last-child) {
    margin-right: 64px;
}
.submenu .col-item + .col-item {
    margin-top: 24px;
}
.submenu .submenu-title {
    font-size: 13px;
    line-height: 100%; 
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;    
    font-weight: 500;
}
.submenu .submenu-title + ul {
    margin-top: 12px;
} 
.submenu ul li:not(:last-child) {
    margin-bottom: 8px;
}
.submenu ul a {
    font-size: 13px;
    line-height: 21px; 
    color: #000000;   
}
.submenu .underline {
    text-decoration: underline;
} 

.form-search form.active{
    opacity: 1;
    visibility: visible;
}

.contact-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    background: #FFFFFF;
    width: 304px;
    border: 1px solid #F8F8F6;
    box-sizing: border-box;
    box-shadow: 0px 12px 12px rgba(90, 90, 90, 0.12);    
    padding: 24px 30px 32px;
    z-index: 10;
    display: none; 
}
 
.phone-list {
    margin-bottom: 25px;
} 
.phone-list li {
    align-items: center;
    min-height: 40px;
    display: flex;
    padding: 0 19px;
}
.phone-list a {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #0E0B06;   
    padding-left: 36px;
    position: relative;
    font-weight: 500;
}
.phone-list a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../img/phone.svg) center no-repeat;
    transform: translateY(-50%);
}

.work-time {
    padding: 0 22px;
    margin-bottom: 38px;
}
.work-time-title {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #000000;  
    margin-bottom: 15px;
    font-weight: 500;
} 
.work-time li {
    width: 156px;
    font-size: 13px;
    line-height: 100%; 
    color: #626262; 
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
}
.work-time li:not(:last-child) {
    margin-bottom: 16px;
}
.work-time span {
    font-size: 13px;
    line-height: 100%;  
    color: #000000;    
    width: 48px;
    margin-right: 14px;
    display: inline-block;
} 
.form-callback .form-control {
    width: 100%;
    height: 48px; 
    background: #F8F8F6;    
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 16px; 
    color: #626262;
    
}
.form-callback .btn:before {
    background: url(../img/phone-white.svg) center no-repeat;
} 
.form-callback label{
    font-size: 13px;
    line-height: 16px; 
    letter-spacing: 0.02em;
    color: #000000;    
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.mobile-menu {
    display: none;
}
 

/*media*/
@media(min-width:1200px){
    .header-options-list svg:hover {
        stroke: #876B46;
    }
    .header-top .phones:hover ul{
        top: 100%;
        opacity: 1;
        visibility: visible;
    } 
    .submenu a:hover,
    .nav-menu > li > a:hover,
    .header-top .phones a:hover{
        color: #876B46;
    }
    .form-search-list a:hover {
        background: #F8F8F6;
        color: #876B46;
    }
 
}
@media(min-width:992px){
    .form-search .icon{
        display: none;
    }
    /*HEADER FIXED*/
    .site-header.scrolled  {
        top: -80px;
    }
    .site-header.scrolled.hide{
        top: -250px;
    }
    .site-header.scrolled  .bottom-navbar{
    /*    border-color: transparent;*/
    }
    .site-header.scrolled .menu-nav{
        margin-left: 260px;
        margin-bottom: 15px;
    }
    .site-header.scrolled .phones{
        opacity: 0;
    }
    .site-header.scrolled .menu-nav .active a:after{
        background-color: transparent;
    }
    .site-header.scrolled .logo{
        position: absolute;
        left: 15px;
        top: 63px;
        max-width: 166px;
        right: auto;
        z-index: 10;
    }    
    .site-header.scrolled .form-search{
         
        position: relative;
        margin-right: 24px;
        width: 24px;
/*        overflow: hidden;*/
        transition: all 0.35s;
    }
    .site-header.scrolled .form-search button{
        opacity: 0;
        visibility: hidden;
    }
    .site-header.scrolled .form-search.active{
        width: 270px;
    }
    .site-header.scrolled .form-search form{
        opacity: 0;
        visibility: visible;
        width: 24px;
        transition: all 0.35s;
    }
    .site-header.scrolled .form-search.active form{
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
    .site-header.scrolled .form-search .icon{
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }
    .site-header.scrolled .form-search.active .icon{
        left: 15px;
    }
    .header-options-list li{
        font-size: 0;
    }
    
    .site-header.scrolled .header-inner .container{
        margin-bottom: 5px;
    }
    
    .site-header.scrolled .form-search:not(.active) .clear-search,
    .site-header.scrolled .form-search:not(.active) .form-search-list{
        display: none;
    }  
    
}
@media(max-width:1200px){
    .contact-info{
        left: 105%;
    }
}
@media(max-width:991px){
    .header-top{padding: 0;}
    .callback-wrap.phones,
    .header-top .top-options,
    .bottom-navbar,
    .header-options-list li.cabinet-link{
        display: none;
    }
    .header-options-list li:not(:last-child) {
        margin-right: 16px;
    }    
    .form-search .icon{
        width: 24px;
    }
   
    .header-inner .container{
        margin-bottom: 0;
        align-items: center;
        height: 75px;
    }
    .header-top .logo{
        position: absolute;
        right: auto;
        top: auto; 
        bottom: 29px;
        left: 100px;
    }
    .header-options-list a{
        display: block;
        font-size: 0;
    }
    .form-search{
        width: auto;
    }
    .menu-nav{
        display: none;
    }
    .header-inner .mobile-button{
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
    }
    .header-top .container{
        position: static;
    }
    .margin-header{
        height: 76px;
    }
    .site-header{
        border-bottom: 1px solid rgba(192, 168, 134, 0.4);
    }
    .header-inner .mobile-button span,
    .header-inner .mobile-button:before,
    .header-inner .mobile-button:after{
        content: "";
        width: 20px;
        height: 1px;
        background: #000000;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        transition: all 0.35s;
    }
    .header-inner .mobile-button:before{
        margin-top: -5px;
    }
    .header-inner .mobile-button:after{
        margin-top: 5px;
    }
    .header-inner .mobile-button.active:after{
        transform: translateY(-50%) rotate(45deg);
        margin-top: 0px;
    }
    .header-inner .mobile-button.active:before{
        transform: translateY(-50%) rotate(-45deg);
        margin-top: 0px;
    }    
    .header-inner .mobile-button.active span{
        opacity: 0;
    }
}
@media(max-width:767px){
    .header-top .logo{
        max-width: 150px;
    }
}
 
@media(max-width:400px){
    .header-top .logo{
        left: 60px;
        max-width: 140px;
    }
    .header-inner .mobile-button{
        left: -5px;
        position: relative;
    }
    .header-options-list li:not(:last-child),
    .form-search{
        margin-right: 12px;
    }
}
 
/*--------------MAIN-----------------*/
.main {
    padding: 64px 44px;
}
.main .container {
    padding: 0;
    max-width: 1800px;
}
.main .swiper-container .button{
    position: static;
    margin: 0;
    background:none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .swiper-container .button img{
    width: auto;
} 
.main .swiper-button-group {
    position: absolute;
    right: 110px;
    top: 125px;
    display: flex;
    align-items: center;
} 
 
.main .custom-fraction-wrap {
    position: absolute;
    top: 125px;
    right: 230px;
    z-index: 10;
    display: flex;
    align-items: baseline;
    font-size: 24px;
    line-height: 28px;  
    color: #000000;    
    font-weight: bold;
}
 

@media ( max-width:991px ){
    .main .swiper-button-group{
        left: 20px;
        bottom: 24px;
        top: auto;
        right: auto;
    }
    .main .swiper-container .button{
        height: 24px;
        width: 34px;
    }
    .main .swiper-container .button img{
        max-height: 100%;
    }
    .main .custom-fraction-wrap{
        right: 25px;
        bottom: 26px;
        top: auto;
        font-size: 17px;
        line-height: 21px;        
    }
}
@media ( max-width:767px ){
    .main {
        padding: 8px 8px 14px;
    }    
    .main .swiper-button-group{
        display: none;
    }
    .main .custom-fraction-wrap{
        font-size: 15px;
        right: 15px;
        bottom: auto;
        top: 22px;
    }
}
/*--------------MAIN END-----------------*/


 

/*--------------CATEGORY TOP-----------------*/
 
.categories-top .breadcrumbs {
    padding: 26px 0;
}
.breadcrumbs ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.breadcrumbs li:not(:last-child) {
    margin-right: 44px;
}
.breadcrumbs a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 13px; 
    text-decoration-line: underline;
    color: #000000;    
}
.breadcrumbs a:after {
    position: absolute;
    content: "";
    top: 50%;
    right: -28px;
    background: url(../img/arrow-down.svg) center no-repeat;
    transform: translateY(-50%) rotate(-90deg);
    width: 12px;
    height: 12px;
}
.breadcrumbs span{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;    
}
.categories-top span {
    font-size: 14px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);   
}
.categories-top .page-title {
    padding: 16px 0;
}

.filters {
    padding: 24px 0;
    position: relative;
}
 
.filters .products-count {
    font-size: 15px;
    line-height: 14px;
    color: #876B46;   
    margin-bottom: 10px;
    display: block;
}
.filters .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    transition: all 0.35s;
    align-items: flex-end;
    padding-top: 5px;
}
.filters.active .row {
    opacity: 1!important;
}
.filters .select-box {
    min-width: 5%;
    padding: 0 4px;
    margin-bottom: 16px;
} 
.filters .select-hide{
    display: none;
} 
.filters .filter-more {
    padding-right: 32px;
    font-size: 13px;
    line-height: 16px;
    color: #231F20;   
    display: table;
    margin-left: auto;
    position: relative;
}
.filters .filter-more:after {
    position: absolute;
    right: 0;
    background: url(../img/plus.svg) center no-repeat;
    width: 16px;
    height: 16px;
    content: "";
}
.filters .filter-more.active:after{
    background: url(../img/minus.svg) center no-repeat;
}

@media ( min-width:768px ){
    .filters:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: url(../img/loader.gif) center no-repeat;
        background-size: 35px;
    } 
    .filters.active:after{
        opacity: 0;
        visibility: hidden;
    }
    
    .filters-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filters-bottom .btn{
        height: 44px;
    }
}
@media ( min-width:1200px ){
    .breadcrumbs a:hover,
    .filters .filter-more:hover{
        color: #876B46;
    }
}
@media ( max-width:991px ){
    .categories-top .breadcrumbs{
        padding: 16px 0;
    }
    .categories-top .page-title{
        font-size: 20px;
        font-weight: 500;
    }
}
@media ( max-width:767px ){
    .mobile-back{
        position: relative;
        font-size: 17px;
        line-height: 16px; 
        color: #000000;  
        display: inline-block;
        padding-left: 28px;
    }
    .mobile-back:after{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        width: 20px;
        height: 20px;
        background: url(../img/mob-arrow-right.svg) center no-repeat;
    }
    .categories-top{
        padding-top: 20px;
    }
    
}
/*--------------CATEGORY TOP END-----------------*/

/*--------------PRODUCT FILTER SELECTED-----------------*/
.products-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 24px 0 16px;
    flex-direction: row-reverse;
}
.products-header.type-search{
    flex-direction: row;
}
.products-header .products-count{
    font-size: 15px;
    line-height: 1; 
    color: #876B46;    
}

.mobile-filter{
    display: none;
}
.filter-selected {
    max-width: calc(100% - 200px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter-selected ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter-selected li {
    height: 28px;
    background: rgba(220, 206, 187, 0.5);
    display: inline-flex;
    align-items: center;
    align-content: center;
    font-size: 13px;
    line-height: 1;
    color: #000000;
    position: relative;
    padding: 0 28px 0 8px;
    margin-bottom: 8px;
    margin-right: 8px;
} 
.filter-selected .icon {
    background: url(../img/icon-cross.svg) center no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.filter-selected .filter-remove {
    height: 28px;
    padding: 0 28px 0 8px;
    font-size: 13px;
    line-height: 12px;
    display: inline-flex;
    align-items: center;
    text-decoration-line: underline;
    color: #876B46;    
    position: relative;
    margin-bottom: 8px;
}
.filter-selected .filter-remove:after {
    content: "";
    background: url(../img/icon-cross.svg) center no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);    
}
.filter-selected .filter-remove:hover{
    text-decoration: none;
    color: #000;
}

.mf-item {
    min-width: 5%;
    padding: 0 4px;
    position: relative;
    margin-bottom: 16px;
}
.mf-item .row-title {
    position: relative;
    background: #fff;
    height: 40px;
    padding: 0 35px 0 12px;   
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mf-item .row-title:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    width: 12px;
    height: 12px;
    right: 9px;
    background: url(../img/arrow-down.svg) center no-repeat;
    transition: all .3s;    
}
.mf-item .row-title.active:after {
    transform: translateY(-50%) rotate(180deg);
}
.mf-item .mf-item-content {
    position: absolute;
    top: 100%;
    left: 4px;
    right: 4px;
    padding: 10px;
    background: #fff;
    border: 1px solid #dccebb;
    z-index: 15;
    display: none;
    min-width: 160px
}
.mf-item .card-size .size-group{
    margin: 0;
}
.mf-item .card-size{
    padding-bottom: 0;
}
.mf-item .size-radio{
    width: 33.33%;
    margin-left: -1px;
    margin-top: -1px;    
}
.mf-item .card-size .size-radio-count{
    width: 100%;
}
.mf-item .size-radio-count:before{
    height: 32px;
    width: calc(100% - 8px);
}
.mf-item .card-size input:checked + .size-radio-count:before{
    color: #fff;
    background: #000;   
} 
.sort {
    display: flex;
    align-items: center;
}
.sort .sort-text {
    font-size: 13px;
    line-height: 1;
    color: #000000;    
}

@media ( max-width:991px ){
    .search-wrap {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; 
        max-height: 0vh;
        transition: all 0.45s;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        background: rgba(0, 0, 0, 0.4);
    }
    .search-wrap.active{
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
        overflow: auto;
    } 
    .form-search button{
        top: 21px;
    }
    .search-wrap input {
        height: 64px;
        border-top: 0;
        border-left: 0;
        border-right:0;
    } 
    .form-search  .clear-search {
        top: 24px;
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
    .search-wrap .form-search-list {
        top: 64px;
        max-height: calc(100% - 64px);
    }   
    .form-search-close{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 64px;
    }
}
@media ( max-width:767px ){
    .products-header .products-count{
        width: 100%;
        padding: 15px 0;
    }   
    .products-header.type-search { 
        padding-bottom: 10px;
    }   
     
}
/*--------------PRODUCT FILTER SELECTED END-----------------*/
/*--------------PRODUCT LIST-----------------*/
.product-list {
    display: flex;
    flex-wrap: wrap;
    padding:10px 0 48px;
}
.product-list .product{
    width: calc(25% - 26.25px);
}
.product-list .product:nth-child(n + 5){
    margin-top: 56px;
}
.product{
    position: relative;
}
.product .product-main {
    position: relative;
    font-size: 0;
}
.product .add-favorite {
    position: absolute;
    opacity: 0;
    top: 42px;
    right: 16px;
    z-index: 10;   
}
.add-favorite {
    background: url(../img/icon-favorite.svg) center no-repeat;
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    display: block;
}
.add-favorite.active{
    background: url(../img/icon-heart-black.svg) center no-repeat;
} 
.product .product-images {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    z-index: 9;
    opacity: 0;
    transition: all 0.35s;    
}
.product .product-images a {
    width: 25%;
    height: 100%;
} 
.product .image {
    position: relative;
    overflow: hidden;
    display: block;
    background-color: #F8F8F6;
}
.product .image:before {
    content: "";
    display: block;
    padding-top: 139.13%;
}
.product .image  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s;
}
.product img.loaded{
    opacity: 1;
} 
.product .badges {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
} 
.product .btn-video {
    position: absolute;
    right: 6px;
    bottom: 2px;
    z-index: 10;
}
.product .product-info {
    padding: 20px 0;
    position: relative;
}
.product .product-title {
    font-size: 13px;
    line-height: 1;
    color: #000000;    
    display: inline-block;
    margin-bottom: 16px;
}
.product .product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product .price {
    display: flex;
    align-items: center;
    align-content: center;
}
.product .price .new {
    font-size: 17px;
    line-height: 1;
    color: #E65654;
    font-weight: 500;
    margin-right: 15px;
}
.product .price .new.black{
    color: #000;
}
.product .old {
    font-size: 13px;
    line-height: 12px;
    text-decoration-line: line-through; 
    color: #333333;    
}
.product .action-count {
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0.02em; 
    color: #EB5757;
    font-weight: 500;
}
.product .product-hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 10;
    text-align: center;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 20px;
}
.product .sizes {
    display: flex;
    align-items: flex-start;
    min-height: 44px;
    margin-bottom: 2px;
    text-align: left;
}
.product .sizes-title {
    font-size: 13px;
    line-height: 1;
    color: #000000;    
}
.product .sizes ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product .sizes li {
    height: 14px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 8px;
}
.product .sizes li:not(:last-child) {
    border-right: 1px solid #C4C4C4;
}
.product .sizes  a {
    font-size: 13px;
    line-height: 1;
    color: #000000;    
}
.product .link {
    font-size: 13px;
    line-height: 1;
}

 
.mobile-filters .filter-close {
    display: none;
}
.mobile-filters .mobile-filters-title {
    display: none;
}


@media ( min-width:768px ){
    .only-mob,
    .page-title.h2:not(.hidden-xs){
        display: none!important;
    }
   
}
@media ( min-width:991px ){
    .product-list .product:not(:nth-child(4n)){
        margin-right: 35px;
    }
    
    .product:hover{
        z-index: 11;
    }
    .product:after{
        content: "";
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -90px;
        background: #FFFFFF;
        box-shadow: 0px 12px 12px rgba(90, 90, 90, 0.12);        
        z-index: -1;
        transition: all 0.15s;
        opacity: 0;
        visibility: hidden;
    }
    .product:hover:after{
        opacity: 1;
        visibility: visible;
    } 
    .product:hover .btn-video, 
    .product:hover .add-favorite,
    .product:hover .product-images {
        opacity: 1;
    }
    .product:hover .product-hover{
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 1450px){
    .product .btn-video {
        right: 7px;
        bottom: 2px;
        font-size: 10px;
    }    
}
@media (max-width: 991px){
 
/*
    .product-list .product:nth-child(n + 5){
        margin-top: 24px;
    }    
*/
    .product .add-favorite{
        opacity: 1;
        top: 16px;
        right: 16px;
    }
    .product .action-count,
    .product .price .new{
        font-size: 15px;
        line-height: 1;
    }
    .product .btn-video{
/*
        font-size: 0;
        height: 24px;
        padding-left: 0;
        width: 24px;
        right: 4px;
        bottom: 3px;
*/
        display: none;
    }
    .product .product-images{
        display: none;
    }
}
@media (max-width: 767px){
    .product-list{
        justify-content: space-between;
    }
    .product-list .product{
        width: calc(50% - 6px);
    }    
    .products-header{
        background: #F8F8F6;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 -8px 14px;
        padding: 0 20px;
    }
    .products-header .sort{
        margin-bottom: 10px;
    }
    .products-header .mobile-filter{
        display: block; 
        padding: 0 0 0 28px;
        font-size: 13px;
        line-height: 12px;  
        color: #000;
        position: relative;     
        margin-bottom: 10px;
    }
    .products-header .mobile-filter:after{
        content: "";
        background: url(../img/icon-filter.svg) center no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);        
    }
    .filter-selected{
        width: 100%;
        max-width: 100%;
        padding-top: 14px;
    }
    .categories-top .container{
        padding: 0 20px;
    }
    .filters{
        padding: 0;
    }
    .filters .products-count{
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .filters .filter-more{
        display: none;
    }
    .select-box.select-box-line .SumoSelect>.CaptionCont{
        background-color: transparent;
    }
    .filter-selected .filter-remove{
        padding-left: 0;
    }
    .filters .mobile-filters {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 150;
        background: #fff;
        display: none;
        padding: 88px 10px 25px;
    }
    .mobile-filters .select-box{
        width: 100%;
        margin-bottom: 0;
    }
    .mobile-filters .select-box .SumoSelect>.CaptionCont{
        height: 48px;
    }
    .mobile-filters .filter-close {
        background: url(../img/icon-cross.svg) center no-repeat;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 20px;
        display: block;
        position: absolute;
    }
    .mobile-filters .mobile-filters-title {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        font-size: 13px;
        line-height: 12px;  
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }    
}
 
/*--------------PRODUCT LIST END-----------------*/

/*--------------PRODUCT CARD-----------------*/
.detail-card {
    overflow: hidden;
}
.detail-card .container {
    display: flex;
    flex-wrap: wrap;
}
.detail-card-left {
    width: 66%;
/*    padding-right: 24px;*/
}
.detail-card-right {
    width: 34%;
    background: #F8F8F6;
    padding: 75px 0 45px;
    padding-left: 55px;
    position: relative;
}
.detail-card-right:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #F8F8F6;
}
.detail-card  .breadcrumbs{
    padding: 25px 0;
    margin-bottom: 40px;
}
.detail-card-rate {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.detail-card-rate .count {
    font-size: 17px;
    line-height: 1;
    color: #000000;
    margin-right: 12px;
}
.detail-card-rate .rate-list {
    display: flex;
    align-items: center;
}
.detail-card-rate img {
    max-width: 14px;
    margin-right: 3px;
}
.detail-card-rate .star-empty {
    opacity: 0.5;
}
.detail-card .btn-video {
    display: flex;
    align-items: center;
    opacity: 1;
    padding: 0;
    height: auto;
    margin-bottom: 24px;
}
 

.swiper-options {
    display: flex;
    align-items: center;
}
.detail-card .swiper-options {
    margin-bottom: 24px;
}
 
.swiper-options .swiper-pagination {
    position: relative;
    padding:0 24px;
}
.swiper-options .button{
    position: relative;
    margin: 0;
    top: auto;
    left: auto;
    right: auto;
    background: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-options  .button img{
    width: auto;
    max-width: 22px;
}
.swiper-options .swiper-button-prev {
    transform: rotate(180deg);
}
.swiper-options  .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 18px;
}

.detail-card-slider .swiper-container{
    margin-bottom: 20px;
}
.detail-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
}
.detail-card .detail-card-info{
    max-width: 380px;
}
 
.detail-card-info .badge-group {
    margin-bottom: 35px;
}
.detail-card-info .badge {
    font-weight: 500;
    font-size: 13px;
    line-height: 1;    
    padding: 7px 12px;
} 
.detail-card-info .in-stok{
    margin-bottom: 8px;
}
.in-stok {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 14px;
    color: #584225;    
}
.in-stok img {
    max-width: 24px;
    margin-right: 10px;
}
.detail-card-info .card-title {
    margin-bottom: 8px;
    line-height: 1.5;
    font-size: 22px;
}
.detail-card-info .card-article {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase; 
    color: #626262;    
}
.detail-card-info .card-option-price {
    margin: 48px 0;
}
.detail-card-info .card-price {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.detail-card-info .old {
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #000000;    
    margin-right: 16px;
    position: relative;
    top: -2px;
}
.detail-card-info .card-price .new {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #E65654;   
    margin-right: 16px;
}
.detail-card-info .card-price .badge {
    padding: 4px;
}
.detail-card-info .btn{
    padding: 0 14px;
    width: calc(50% - 10px);
}

.card-action-left {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 150%;
    color: #000000;    
}
.card-action-left .count {
    margin-left: 8px;
    padding: 4px 12px; 
    background: rgba(220, 206, 187, 0.5);
    border-radius: 19px;    
    font-weight: 500;
    font-size: 12px;
    line-height: 150%; 
    color: #000000;    
}
.card-size {
    padding-bottom: 36px;
}
.card-size-title {
    font-size: 15px;
    line-height: 14px;
    color: #000000;   
    margin-bottom: 8px;
}
.size-group-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.size-group-wrap .link{
    margin-bottom: 12px;
    font-size: 13px;
}
.card-size .size-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-bottom: 12px;
    position: relative;
} 
.card-size .size-radio:not(:first-child){
    margin-left: -1px;
} 
.card-size .size-radio-count {
    border: 1px solid #E0E0E0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 12px; 
    color: #000000;    
    cursor: pointer;
    position: relative;
}
.card-size .size-radio-count:before {
    content: attr(data-text);
    background: rgba(196, 196, 196, 0); 
    font-size: 13px;
    line-height: 12px;
    color: #000000; 
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}
.card-size input:checked + .size-radio-count:before{
    background: rgba(196, 196, 196, 0.2); 
    font-weight: 500;
}
.size-radio-count:after{
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: -1px;
    border: 1px solid #000000;
    z-index: 2;
    opacity: 0;
    transition: all 0.35s;
}
.size-radio-count:hover:after,
.card-size input:checked + .size-radio-count:after{
    opacity: 1;
}
.card-size input:disabled +  .size-radio-count{
    pointer-events: none; 
    border-color: rgba(224, 224, 224, 0.5); 
}
.card-size input:disabled +  .size-radio-count:before{
    color: rgba(0, 0, 0, 0.2);
} 
.detail-card .btn-group {
    margin-bottom: 48px;
}
.detail-card-info .btn-group {
    display: flex;
    justify-content: space-between;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.btn-group .btn {
    max-width: calc(50% - 5px);
} 
.btn-mono {
    display: inline-flex;
    align-items: center;
    padding: 0 32px 0 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px; 
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;    
    height: 44px;
    background-color: #fff;
    margin-bottom: 35px;
}
.btn-mono img {
    margin-right: 16px;
    max-width: 24px;
}
.additional-info {
    display: inline-flex;
    min-height: 44px;
    align-items: center;
}
.additional-info img {
    max-width: 24px;
    margin-right: 12px;
}
.additional-info .link {
    transition: all 0.3s;
}


.card-mobile-fixed {
    position: fixed;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    z-index: 200;
    box-shadow: 0px -4px 4px rgba(108, 106, 106, 0.08);
    bottom: -100px;
    left: 0;
    right: 0;
    padding: 18px 8px;
    opacity: 0;
    transition: all 0.45s;
} 
.card-mobile-fixed.active {
    opacity: 1;
    bottom: 0%;
}
.card-mobile-fixed .cost {
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #E65654;    
    width: calc(100% - 200px);
    padding-right: 5%;
    text-align: center;
    font-weight: 500;
}
.card-mobile-fixed .btn {
    max-width: calc(60% - 10px);
} 


.size-group .popover {
    display: none;
    bottom: 28px;
    left: 45px;
    top: auto;
    right: auto;
    padding: 20px 16px;
    width: 226px;
    text-align: center;
    z-index: 10;
}
.size-group .popover .p-title {
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 0.02em;
    color: #000000;    
    margin-bottom: 16px;
    font-weight: 500;
}
.size-group .popover .link {
    border: 0;
}
 



@media (max-width: 1450px){
    .detail-card-right { 
        padding: 45px 0 35px;
        padding-left: 35px;
        width: 41%;
    }    
    .detail-card-left{
        width: 59%;
    }
    .detail-card-info .card-option-price{
        margin: 32px 0;
    }
    .card-size{
        padding-bottom: 20px;
    }
    .detail-card .btn-group{
        margin-bottom: 32px;
    }
    .btn-mono{
        margin-bottom: 20px;
    }
}
@media ( min-width:991px ){
    .swiper-options{
        margin-right: 20px;
    }
}
@media ( max-width:991px ){
    .detail-card-left{
        width: 100%;
        padding-right: 0;
    }
    .detail-card-right{
        width: 100%;
        padding-left: 0; 
        padding: 40px 24px 30px;
    }
    .detail-card-right:after{
        content: none;
    }
    .detail-card .container{
        padding: 0;
    }
    .detail-card-rate{
        height: 64px;
        padding: 0 24px;
    }
}
@media ( max-width:767px ){
    .detail-card-bottom{
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 0;
    }
    .detail-card .swiper-options{
        width: 100%;
        justify-content: center;
    }
    .detail-card-info .badge-group{
        display: none;
    }
    .detail-card-info .card-option-price{
        margin: 48px 0;
    }
    .card-size .size-radio-count{
        width: 40px;
        height: 40px;
    }
    .card-size{
        padding-bottom: 12px;
    }
    .btn-group .btn{
        padding: 0 16px;
        width: calc(50% - 8px);
    }
    .detail-card .btn-mono{
        margin-bottom: 15px;
        line-height: 1.2;
    } 
    .detail-card .btn-group{
        margin-bottom: 20px;
    } 
    .detail-card-rate{position: relative;}
    .detail-card-rate .badge-group{
        margin-left: auto;
    }
}
 
/*--------------PRODUCT CARD END-----------------*/

@media (max-width:360px){
    .header-top .logo {
        left: 55px;
        max-width: 130px;
    }   
    
    h2, .h2 {
        font-size: 20px;
    }    
    .detail-card-right { 
        padding: 40px 18px 30px;
    }  
    .btn-group .btn {
        padding: 0 10px;
        width: calc(50% - 5px);
    }   
    .btn-mono { 
        padding: 0 20px 0 24px; 
        font-size: 12px;
    }    
    .card-mobile-fixed .btn {
        padding: 0 12px;
        font-size: 13px;
    } 
    .card-mobile-fixed .cost {
        font-size: 20px;
    }    
    .detail-card-info .card-title { 
        line-height: 1.3;
        font-size: 19px;
    }    
    .detail-card-info .card-option-price {
        margin: 30px 0;
    }    
    .block-title{
        font-size: 16px;
    }
    .breadcrumbs li:not(:last-child) {
        margin-right: 30px;
    }  
    .breadcrumbs a:after{
        right: -21px;
    }
}