.header-order {
    border-bottom: 1px solid rgba(192, 168, 134, 0.4);
}
.header-order .container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-order .left {
    display: flex;
    align-items: center;
}
.header-order .help-link {
    margin-right: 55px;
}
 
.header-order .logo {
    max-width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
 

.page-header {
    position: relative;
    padding: 32px 0;
}
.link-back {
    position: absolute;
    left: 0;
    top: 50%;
    height: 16px;
    margin-top: -8px;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.02em; 
    color: #626262;   
    padding-left: 28px;
    display: inline-flex;
    align-items: center;
}
.link-back:after{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: url(../img/arrow-back.svg) center no-repeat;
    transition: all 0.35s;
    left: 0;
    top: 0;
    transform: translateX(0);
}
 
 
.cart{
    padding: 52px 0 0;
}
.table-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 16px;
} 
.table-row.table-head .table-td {
    padding: 0 10px 14px 0;
} 
.table-td.cart-td-info {
    width: 41%;
}
.table-td.cart-td-size {
    width: 150px;
}
.table-td.cart-td-count {
    width: calc(27% - 75px);
}
.table-td.cart-td-price {
    width: calc(27% - 75px);
}
 

 
.table-row.table-body{
    background: #fff;
    align-items: center;
}
.table-row.table-body:not(:last-child){
    margin-bottom: 2px;
} 
.table-row .image {
    height: 200px;
    width: 140px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.table-row .image img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-height: 85%;
    max-width: 85%;
    margin: auto;
    transition: all 0.35s;
}
.table-row .text {
    width: calc(100% - 140px);
    padding-left: 16px;
}
.table-row .article {
    font-size: 13px;
    line-height: 1; 
    text-transform: uppercase; 
    color: #626262;    
}
.table-row .cart-product-title { 
    font-size: 15px;
    line-height: 150%; 
    color: #000000; 
    display: inline-block;
}
.table-row .select-box {
    width: 70px;
}
.table-row .select-box.select-box-line .SumoSelect>.CaptionCont {
    height: 32px;
}
.table-row .select-box.select-box-line .SumoSelect.open>.optWrapper{
    min-width: 70px;
}
.table-body .cart-td-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 
.table-row .old {
    font-size: 12px;
    line-height: 24px; 
    letter-spacing: 0.2px;
    text-decoration-line: line-through; 
    color: #626262;    
}
.table-row .new {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%; 
    color: #EB5757;    
}
.cart-td-price{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cart-td-price>:nth-child(2){
    margin-right: 15px;
}
.table-row-delete {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.table-row-delete img {
    max-width: 24px;
}

.number-count {
    width: 90px;
    position: relative;
}
.input-wrap.number-count{
    margin-bottom: 0;
}
.number-count .button{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: all 0.35s; 
    z-index: 2;    
}
.number-count .button.dec{
    background: url(../img/icon-minus.svg) center no-repeat;
}
.number-count .button.inc{
    background: url(../img/icon-plus.svg) center no-repeat;
    left: auto;
    right: 0;
}
.number-count input {
    height: 36px;
    text-align: center;
    position: relative;
    z-index: 1;
}


.cart-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 45px 0;
}
.cart-bottom .btn-promo {
    width: 35%;
}
.btn-promo:before {
    background: url(../img/cart/icon-ticket.svg) center no-repeat;
}
.cart-bottom .cart-total {
    display: flex;
}
.cart-bottom .cart-total .btn {
    padding: 0 34px;
}
.cart-bottom  p {
    font-size: 15px;
    line-height: 150%;
    color: #000000;    
    min-width: 130px;
    margin-right: 24px;
}
.cart-bottom .total-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px; 
    color: #000000;
    display: block;
}
.table-td-title{
    display: none;
}

.checkout{
    padding-bottom: 60px;
}

.checkout .container{
    max-width: 965px;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkout-content .checkout-col {
    width: calc(50% - 17px);
}

 
.checkout-item{
    padding: 40px;
    background: #fff;
    margin-bottom: 24px;
}
.checkout-item-header {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 21px; 
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}
.checkout-item-header img {
    width: 32px;
    margin-right: 12px;
}
.checkout-login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 16px; 
    color: rgba(0, 0, 0, 0.7);  
    margin-bottom: 40px;
} 
.checkout-login .btn {
    margin-left: 12px;
} 
 
.personal-data .input-wrap {
    margin-bottom: 16px;
}
.personal-data .required {
    font-size: 13px;
    line-height: 16px; 
    color: #876B46;    
}


/*delivery METHOD*/
 
.delivery-method.checkout-item{
    padding-bottom: 24px;
}
 
.delivery-method .form-row .input-wrap {
    margin-bottom: 16px;
}
.delivery-type-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.delivery-radio {
    width: calc(50% - 9px);
}
.delivery-radio .delivery-item-check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border: 1px solid #F8F8F6;
}
.delivery-item-check img {
    width: auto;
    max-height: 100%;
}
input:checked + .delivery-item-check{
    border-color: #DCCEBB;
    background: #F8F8F6;
}
.delivery-item-check img.w24{
    width: 24px;
    height: 24px;
} 
.delivery-item-check span {
    font-size: 13px;
    line-height: 16px; 
    color: #000000;
    margin-left: 8px;
}
.delyvery-type .select-box{
    margin-bottom: 20px;
}
.delyvery-type .item-radio:not(:last-child){
    margin-bottom: 16px;
}
.delyvery-type .radio-group{
    margin-bottom: 24px;
}

 
.top-city ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
}
.top-city li {
    padding: 4px 12px;
    background: rgba(220, 206, 187, 0.5);
    border-radius: 19px;  
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 150%; 
    color: #000000;    
    cursor: pointer;
}
.top-city li:not(:last-child) {
    margin-right: 16px;
}


/*PAY METHOD*/

.pay-item-radio{
    display: block;
}
.pay-item-radio:not(:last-child) {
    margin-bottom: 8px;
} 
.pay-item-check {
    display: flex;
    align-items: center;
    background: #FFFFFF; 
    border: 1px solid #F8F8F6;  
    padding:10px 10px;
    min-height: 88px;
    cursor: pointer;
    transition: all 0.35s;
}
input:checked + .pay-item-check {
    border-color: #DCCEBB;
    background: #F8F8F6;   
}
.pay-item-radio .icon {
    width: 51px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pay-item-radio img {
    width: auto;
    max-width: 51px;
    max-height: 100%;
}
.pay-item-radio.item-cash .pay-item-check{
    min-height: 72px;
}
.pay-item-radio.item-cash .icon {
    height: 38px;
}
.pay-item-title {
    font-size: 16px;
    line-height: 20px; 
    color: #000000;
    width: calc(100% - 51px);
    padding-left: 10px;
    font-weight: 500;
}
.pay-item-title span{
    font-size: 12px;
    line-height: 14px; 
    color: #626262;
    display: block;
    margin-top: 4px;
    font-weight: 400;
    max-width: 230px;
}


.checkout-col .mc-table{
    width: 100%;
    padding-right: 0; 
    margin-bottom: 8px;
}
 
.checkout-info{
    padding: 40px 16px 24px;
    background: #fff;
}
.checkout-info .block-title{
    margin-bottom: 16px;
    padding: 0 24px;
}
.checkout-info .promo-block .btn-promo{
    width: 100%;
    margin: 0;
    transition: box-shadow 0.45s;
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
}
.checkout-info .mc-side{
    padding: 32px 24px;
    width: 100%;
    margin-bottom: 12px;
}
.checkout-info .mc-side .btn{
    margin-bottom: 0;
}
 

@media ( min-width:1200px ){
    .table-row .image:hover img{
        transform: translateY(-50%) scale(1.05);
    }
    .cart-product-title:hover{
        color: #876B46;
    }
    .link-back:hover:after{
        transform: translateX(-5px);
    }    
    .pay-item-check:hover{
/*        box-shadow: 0 0 0 1px #dccebb;*/
        border-color: #dccebb;
    }
}
@media ( max-width:991px ){
    .page-header{
        padding: 24px 0;
    }
    .cart{
        padding-top: 0;
    }
    .link-back{
        font-size: 0;
        padding-left: 0;
        height: 32px;
        width: 32px;
        margin-top: -16px;
    }
    .link-back:after{
        height: 32px;
        width: 32px;
        background: url(../img/mob-arrow-right.svg) center no-repeat;
        transform: translateY(-50%) rotate(180deg);
        top: 50%;
    }
    .table-row.table-head{
        display: none;
    }
    .page-header .h2{
        font-size: 17px;
        line-height: 1;
    }
    .table-body .cart-td-info{
        width: 100%;
        margin-bottom: 8px;
    }
    .table-row.table-body{
        padding: 10px 24px 24px;
        align-items: flex-start;
    }
    .table-row .image {
        height: 95px;
        width: 83px;
    }    
    .table-row .text {
        width: calc(100% - 83px);
        padding-left: 16px;
        padding-right: 25px;
    }     
    .table-row .article{
        display: block;
    }
    .table-row .cart-product-title{
        font-size: 13px;
    }
    .table-row-delete{
        transform: translate(0);
        top: 12px;
        right: 12px;
    }
    .table-td-title{
        display: block;
        font-size: 13px;
        line-height: 100%; 
        color: #000000;   
        width: 100%;
        margin-bottom: 10px;
    }
    .table-row .select-box{
        position: relative;
        left: -12px;
    }
    .table-td.cart-td-price,
    .table-td.cart-td-count,
    .table-td.cart-td-size{
        width: auto;
        min-width: 30%;
        max-width: 33%;
    } 
    .cart-td-price>:first-child{
        margin-right: 0;
    }
    .cart-td-price>:nth-child(2){
        margin-right: 15px;
    }
    .table-row.table-body:not(:last-child) {
        margin-bottom: 4px;
    }    
}
@media ( max-width:767px ){
    .checkout-col .mc-table{
        margin-bottom: 0;
    }
    .header{
        position: relative;
        background: #fff;
        border-bottom: 1px solid  rgba(192, 168, 134, 0.4);
    }
    .cart-bottom .cart-total{
        width: 100%;
        display: block;
    }
    .cart-bottom{
        padding: 24px 8px 30px;
    }
    .cart-bottom .btn-promo{
        width: 100%;
        max-width: 440px;
        margin-bottom: 24px;
    }
    .cart-bottom .cart-total .btn{
        max-width: 440px;
        width: 100%;
    }
    .cart-bottom p{
        margin-bottom: 24px;
        margin-right: 0;
    }
    .checkout-content .checkout-col{
        width: 100%;
    }
    .checkout-item{
        padding: 40px 24px;
        margin-bottom: 16px;
    }
    .pay-method.checkout-item{
        margin-bottom: 0;
    }
    .checkout-col .add-comment .btn{
        margin: 16px 0; 
    }
}
@media ( max-width:575px ){
    
    .table-td.cart-td-size{
        width: 70px;
        min-width: inherit;
        max-width: inherit;
    }
    .table-td.cart-td-count{
        width: 90px;
        margin:0 10px;
    }
    .table-row.table-body{
        justify-content: space-between;
    }
    .table-td.cart-td-price{
        width: auto;
        min-width: 20%;
        max-width:70px;
    }     
    .checkout-info{
        margin: 0 -8px;
    }  
}

/*--------------thank page-------------------*/
.btn.back-to-shop:before{
    background: url(../img/right-arrow.svg) center no-repeat;
}

.thank-page{
    max-width: calc(100% - 80px);
    margin: 0 auto 50px;
    background: #fff;
    padding: 65px 25px 40px;
}
.thank-page .container{
    max-width: 1100px;
}
.thank-header {
    max-width: 420px;
    display: table;
    width: 100%;
    margin: 0 auto 65px;
    position: relative;
    text-align: center;
}
.thank-header img {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 170px;
    width: auto;
}
.thank-header .title {
    font-size: 24px;
    line-height: 150%; 
    color: #000000;
    margin-bottom: 12px;
}
.thank-header p {
    font-size: 17px;
    line-height: 21px; 
    color: #626262;
}

.thank-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.thank-col {
    width: calc(50% - 10px);
    padding-bottom: 35px;
}
.thank-col .block-title {
    padding: 0 20px 8px;
    font-weight: 400;
}  
.order-list.mc-table{
    width: 100%;
}
.order-list.mc-table .mc-tr {
    border-bottom: 1px solid #F8F8F6;
}
.order-list .mc-tr .mc-tr-image {
    width: 116px;
    height: 116px;
}
.order-list .mc-tr .mc-tr-header {
    min-height: inherit;
    margin-bottom: 0;
}
.order-list .mc-tr .mc-tr-title {
    line-height: 1;
    font-weight: 400;
    margin-bottom: 0;
}
.order-list .mc-tr .size {
    margin:10px 0 7px;
} 
.order-list .mc-tr .price {
    margin-top: 5px;
    line-height: 1.1;
} 
.mc-tr .mc-tr-info {
    width: calc(100% - 116px);
    padding-left: 8px;
}



.order-table {
    padding: 24px 0;
}
.order-tr {
    padding: 12px 20px; 
    display: flex;
}
.order-td {
    font-size: 15px;
    line-height: 150%; 
    color: #000000;
    width: calc(100% - 150px);
}
.order-td:first-child {
    font-weight: 500;
    width: 150px;
    padding-right: 15px;
}
.order-detail .btn{
    margin-left: 20px;
}

.thank-bottom {
    background: #F8F8F6;
    padding: 30px 44px 20px;
}
.thank-bottom-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 21px;
}
.thank-bottom .block-title {
    font-weight: 400;
    margin-right: 32px;
} 
.thank-bottom-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.thank-bottom .item {
    width: calc(25% - 20px);
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.thank-bottom .icon {
    border: 1px solid #876B46;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../img/check.svg) center no-repeat;
    background-size: 16px;
}
.thank-bottom p {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: calc(100% - 24px);
    padding-left: 12px;
}

@media ( max-width:991px ){
    .thank-page {
        max-width: calc(100% - 10px);   
        padding: 0;
    }
    .thank-page .container{
        padding: 0;
    }
    .thank-header img{
        position: static;
        display: block;
        margin: 0 auto;
        transform: translate(0);
    }
    .thank-header{
        padding: 20px;
        margin-bottom: 24px;
    }
}
@media ( max-width:767px ){
    .thank-col{
        width: 100%;
        padding-bottom: 32px;
    }
    .order-list.mc-table{
        margin-bottom: 0;
    }
    .mc-tr .mc-tr-info{
        padding-left: 8px;
    }
    .thank-col .block-title{
        padding-left: 24px;
    }
    .order-tr{
        padding: 12px 12px 12px 24px;
    }
    .order-td:first-child{
        width: 125px;
    }
    .order-td { 
        width: calc(100% - 125px);
    }  
    .order-table{
        margin-bottom: 16px;
    }
    .order-detail .btn{
        margin: auto;
        display: flex;
        max-width: 220px;
    }
    .thank-page{
        margin-bottom: 0;
    }
    .thank-bottom{
        max-width: calc(100% - 76px);
        margin: auto;
        padding: 35px 35px 83px;
        position: relative;
    }
    .thank-bottom .item{
        width: 100%;
    }
    .thank-bottom .link{
        position: absolute;
        left: 35px;
        bottom: 35px;
        padding: 12px 24px;  
        height: 48px;  
        align-items: center;
        display: flex;
        border: 1px solid #DCCEBB;
        font-size: 13px;
        line-height: 16px; 
        letter-spacing: 0.02em; 
        color: #433623;
    }
}
@media ( max-width:360px ){
    .thank-bottom{
        max-width: calc(100% - 36px); 
        padding: 35px 25px 83px; 
    }    
}


.footer-checkout {
    border-top: 1px solid rgba(192, 168, 134, 0.4);
    padding: 38px 0;
}
.footer-checkout .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-checkout .copy {
    font-size: 16px;
    line-height: 15px;
    color: #000000;   
    font-weight: 500;
}
.footer-checkout .text {
    display: flex;
    align-items: center;   
}
.footer-checkout span {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #000000;     
}
.footer-checkout img {
    margin-left: 30px;
    width: auto;
    max-height: 20px;
}
.footer-checkout img:last-child {
    max-height: 16px;
}
.thank .order-detail{
    display: block;
}

@media ( max-width:767px ){
    .footer-checkout .container{
        justify-content: center;
        text-align: center;
    }
    .footer-checkout .copy{
        width: 100%;
        margin-bottom: 15px;
    }
    .footer-checkout img {
        margin-left: 22px; 
    }    
}
@media ( max-width:360px ){
    .footer-checkout .text {
        display: flex;
        align-items: center;   
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-checkout span {
        width: 100%;
        margin-bottom: 15px;
    }   
    .footer-checkout img {
        margin: 0 10px 10px; 
    }    
    .footer-checkout { 
        padding: 30px 0 20px;
    }    
    .checkout-item{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pay-item-title{
        font-size: 14px;
    }
    .table-row.table-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .table-row-delete { 
        top: 4px;
        right: 6px;
    } 
    .table-row .article{
        margin-bottom: 2px;
    }
    .table-row .new{
        font-size: 14px;
    }
    .order-list .mc-tr .mc-tr-image{
        width: 100px;
    }
}